<header>
  <nav>
    <div class="card">
      <div class="card-body text-center">
        <h2>MANAGER PANEL</h2>
      </div>
    </div>
  </nav>
</header>
<div class="container mt-5">
  <div class="col-md-12 col-lg-12 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <div class="row m-0">
          <div class="col-md-6 col-lg-6 col-sm-12 col-12">
            <p *ngIf="allBookedTables[0]">Total Booked Tables: {{allBookedTables.length}}</p>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-12 text-right">
            <button class="btn btn-secondary" routerLink="/book-now">Book Table For Customer</button>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-12 col-12 form-group">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Search By Number Of Persons</mat-label>
                  <mat-select name="totalPerson" [(ngModel)]="getPax" required>
                    <mat-option value="">Search</mat-option>
                    <mat-option [value]="'2'">2 OR Less</mat-option>
                    <mat-option [value]="'4'">4 OR Less</mat-option>
                    <mat-option [value]="'6'">6 OR Less</mat-option>
                    <mat-option [value]="'8'">8 OR Less</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-12 form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" required name="date" [(ngModel)]="getDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-12 form-group w-50 mt-3">
                <button class="btn btn-outline-primary form-control" (click)="getBookings(getPax, getDate)">Search</button>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-12 form-group w-50 mt-3">
                <button class="btn btn-outline-secondary form-control" (click)="reset()">Reset</button>
              </div>
            </div>
          </div>
        <div class="col-lg-12 col-md-12 col-12 table-responsive">
          <table class="table table-bordered" *ngIf="filteredBookTable[0]">
            <thead>
            <tr>
              <th>Customer</th>
              <th>Phone No</th>
              <th>No Of Persons</th>
              <th>Date</th>
              <th>Time</th>
              <th>Status</th>
              <th>Change Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of filteredBookTable; let i = index">
              <td>{{customer.name}}</td>
              <td>{{customer.phoneNumber}}</td>
              <td>{{customer.pax}}</td>
              <td *ngIf="customer.bookDate">{{customer.bookDate | date: 'dd MMM, yyyy'}}</td>
              <td *ngIf="!customer.bookDate">Booked For Now</td>
              <td *ngIf="customer.time">{{customer.time}}</td>
              <td *ngIf="!customer.time">Booked For Now</td>
              <td *ngIf="customer.status == 1">Booked</td>
              <td *ngIf="customer.status == 0">Cancelled</td>
              <td>
                <button class="btn btn-danger" *ngIf="customer.status == 1" (click)="cancelBooking(i)">
                  <span class="fa fa-times-circle"></span> Cancel Booking</button>
                <h6 *ngIf="customer.status == 0">Booking Cancelled</h6>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="col-md-12 col-lg-12 text-center" *ngIf="!filteredBookTable[0]">
            <img alt="" src="./assets/images/8seat.png">
            <h5>Oops No Booked Tables Found Yet!</h5>
            <button class="btn btn-secondary" routerLink="/book-now">Book Table For Customer</button>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
</div>
