/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.tox .tox-notification--warn, .tox .tox-notification--warning {
  display: none!important;
}
.tox-tinymce {
  border-radius: 6px!important;
  transform: translateY(-3px)!important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)!important;
}
