.fixed-position {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.card-container {
 margin-top: 10rem;
 margin-bottom: 10rem;
  z-index: 0;
}
a.badge {
  cursor: pointer;
}
.card{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card-box{
  transform: unset;
  box-shadow: unset;
}
.bordered {
  border-top: 6px solid black;
  border-radius: 8px;
}
.plus{
  color: cadetblue;
  font-weight: 500;
  font-size: 22px;
  text-decoration: unset;
  cursor: pointer;
}
.plus .plus-sign {
  font-size: 25px;
  border-radius: 50px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  padding: 0 1px 0px 9px;
}
.save-btn {
  color: #ffffff;
  background: navy;
  border-radius: 25px;
  padding: 5px 25px;
}
th{
  font-size: 14px;
  text-align: center;
}
