
.card-container {
 margin-top: 10rem;
 margin-bottom: 10rem;
 z-index: 0;
}

.card{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  border-radius: 18px;
}

input:focus.timeInput {
  outline: none !important;
  border: 0;
  box-shadow: 0px 2px 3px 1px #f3f3f3;
}
input.timeInput {
  border: 1px solid #f3f3f3;
  width: 100%;
  color: #495057;
  height: 52px;
  padding-left: 12px;
  margin-top: 10px;
}

.heading {
  font-size: 30px;
  text-align: center;
  margin: 0 0 15px;
  padding: 20px;
  border-bottom: 2px solid #f3f3f3;
}
