<header>
  <nav>
    <div class="card">
      <div class="card-body text-center">
        <h2>COUPON FORM</h2>
      </div>
    </div>
  </nav>
</header>
<div class="container mt-5">
  <div class="col-md-12 col-lg-12">
    <div class="card text-center">
      <div class="card-body">
        <img class="img-fluid" width="100" alt="" src="./assets/congrates.png">
        <h4>Congratulations</h4>
        <p>Form Submitted Successfully</p>
        <p>Please Check console for data sent</p>
      </div>
    </div>
  </div>
</div>
