.fixed-position {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.card-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
  z-index: 0;
}
a.badge {
  cursor: pointer;
}
.card{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card-box{
  transform: unset;
  box-shadow: unset;
}
